<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tj24.wanandroid">

    <application>
        <activity android:name=".module.mine.collect.CollectLinkActivity"></activity>
        <activity android:name=".module.treenavigation.knowledge.KnowledgeArticleActivity" />
        <activity android:name=".module.web.WebViewActivity" />
        <activity android:name=".module.mine.share.ShareArticleActivity" />
        <activity android:name=".module.mine.todo.TodoActivity" />
        <activity android:name=".module.mine.share.MyShareActivity" />
        <activity android:name=".module.mine.coin.CoinMeActivity" />
        <activity android:name=".module.mine.coin.CoinRankActivity" />
        <activity android:name=".module.mine.collect.CollectActivity" />
        <activity android:name=".module.HomePageActivity"/>
        <activity android:name=".user.RegistActivity" />
        <activity android:name=".user.LoginActivity" />
        <activity
            android:name=".module.search.SearchActivity"
            android:theme="@style/wanandroid_search_view_activity" />
    </application>

</manifest>