<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.tj24.appmanager">

    <uses-permission
            android:name="android.permission.PACKAGE_USAGE_STATS"
            tools:ignore="ProtectedPermissions" />
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
            android:name=".app.AppManagerApp"
            android:allowBackup="true"
            android:icon="@mipmap/app_ic_launcher"
            android:label="@string/app_app_name"
            android:roundIcon="@mipmap/app_ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/base_AppTheme"
            tools:replace="android:label">
        <activity
                android:name=".login.SplashActivity"
                android:theme="@style/app_SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>
        <activity android:name=".activity.HelpSuggestActivity" />
        <activity
                android:name=".activity.SettingsActivity"
                android:theme="@style/app_SettingsActivity" />
        <activity android:name=".activity.UserEditActivity" />
        <activity android:name=".activity.UserHomePageActivity" />
        <activity
                android:name=".login.ForgetPwdActivity"
                android:theme="@style/App_LoginActivity"
                android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
                android:name=".login.RegistActivity"
                android:theme="@style/App_LoginActivity"
                android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
                android:name=".login.LoginActivity"
                android:screenOrientation="portrait"
                android:theme="@style/App_LoginActivity"
                android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
                android:name=".activity.SearchActivity"
                android:theme="@style/App_SearchActivity" />
        <activity android:name=".activity.MesageActivity" />

        <receiver
                android:name=".receiver.ApkChangeReceiver"
                android:enabled="true"
                android:exported="true" />

        <activity android:name=".activity.MainActivity" />
        <activity android:name=".common.keepAlive.SinglePixelActivity" />
        <activity android:name=".activity.AddAppClassficationActivity" />
        <activity
                android:name="cn.bmob.v3.update.UpdateDialogActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity android:name=".activity.AboutActivity"></activity>
        <activity android:name=".activity.UserAgreenmentActivity" />
        <activity android:name=".activity.ResetPwdActivity" />
        <service
                android:name=".service.ScanTopService"
                android:exported="false" />
        <service
                android:name=".service.AliveService"
                android:exported="false" />

        <provider
                android:name=".provider.ShareProvider"
                android:authorities="${applicationId}.share.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true"
                tools:replace="android:authorities">

            <!-- 元数据 -->
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/app_share_provider_path"
                    tools:replace="android:resource" />
        </provider>

        <provider
                android:name=".provider.BmobUpdateProvider"
                android:authorities="${applicationId}.update.fileprovider"
                android:grantUriPermissions="true"
                android:exported="false">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/app_bmob_update_path" />
        </provider>

        <provider
            android:name=".provider.UpdateProvider"
            android:authorities="${applicationId}.catfairyupdate.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_paths" />
        </provider>
    </application>

</manifest>